.NavigationBar {
    background-color: #F8BBD0;
    width: 100%;
}

.NavigationBar > div {
    width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.NavigationBar > div > a {
    padding: 5px;
    font-weight: 700;
    color: white;
}